################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/WindowsFormsCalendar/v17/TestStore/0
/.vs
/TestHarness/.vs
/TestHarness/bin/Debug
/TestHarness/obj/x86/Debug
/WindowsFormsCalendar/.vs
/WindowsFormsCalendar/bin
/WindowsFormsCalendar/obj
/SampleForm/obj
/TestHarness/obj/Debug
/TestHarness/obj
/TestHarness/obj/project.assets.json
/WindowsFormsCalendar.MonthViewDayControl/obj
/Gummoni.UI.MonthViewControl/bin/Debug/net8.0-windows
/Gummoni.UI.MonthViewControl/obj
/Gummoni.UI.CalendarControl/obj
/Gummoni.UI.CalendarControl/bin/Debug/net8.0-windows
